*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
             /* **STILE HEADER** */
 
.navigatore{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.small{
    width: calc(20% - 5rem);
    background-color: chocolate;
    padding: 0.3rem;
}

.big{
    width: 40%;
    text-align: center;
    background-color: chocolate;
    padding: 0.3rem;
}

.small.right{
    text-align: right;
}

section > div {
    border: 1px dashed black;
}
            /* SECONDA SEZIONE HEADER */
.schermo{
    height: 30rem;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.magenta{
    background-color: magenta;
    height: calc(100% - 5rem);
    width: calc(50% - 5rem);
}
               /* ***STILE MAIN**** */

               /* PRIMA/SECONDA/TERZA SEZIONE */
.sezione{
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    width: calc(50% - 5rem);
    height: 80%;
    background-color: lightskyblue;
}
.pink{
    width: calc(30% - 5rem);
    height: 80%;
    background-color: pink;

}

.sezione.due{
    background-color: lightgrey;
}
          /* **SEZIONE QUATTRO** */
.main-end{
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.green{
    background-color: green;
    width: calc(80% - 10rem);
    height: calc(100% - 5rem);
}
         /* *******STILE FOOTER***** */


         /* **PRIMA SEZIONE FOOTER** */
.footer1{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 30rem;
    padding-top: 0.5rem;
}

.red{
    height: 90%;
    width: calc(24% - 2rem);
    background-color: red;
}

.aqua{
    height: 90%;
    width: calc(13% - 1rem);
    background-color: aqua;
}
                 /* **SECONDA SEZIONE FOOTER** */
.footer2{
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 1rem;
}

.barra-pulsanti{
    background-color: aquamarine;
    padding: 1rem 0;
    width: calc(80% - 10rem);
    display: flex;
    justify-content: space-between;
}

button{
    background-color: pink;
    border: 1px dashed black;
}
hr{
    color: white;
}


